/* desktop and tablet version of website */

*{
    padding: 0;
    margin: 0;
}

header{
    background-color: black;
    color: green;
    font-family: sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header h1{
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: 2px;
}

header nav ul{
    list-style: none;
    display: flex;
    
}

ul li{
    padding: 20px;
}

ul li a{
    text-decoration: none;
    color: green;
    font-weight: 600;
    letter-spacing: 1px;
}

ul li a:hover{
    color: white;
}
.bar{
    font-size: 28px;
    display: none;
}

/* phone version of the website */
 @media screen and (max-width:750px){

    .bar{
        font-size: 28px;
        display: inline;}

  nav{
      display: none;
  }

header{
    height: 60px;
}

 }